<h1>Welcome to PictoDraw!</h1>
<p>Created by Dan Smolinski, Mike Wojtyna, and Zach Henry</p>

<%= link_to "Login", "/login/userlogin"%>
<br>
<%= link_to "Sign up", "/users/new"%>


<%# if(params.has_key?(:id) && params.has_key?(:random))%>
	<%#= "ID: #{params[:id]}"%><br>
	<%#= "RANDOM: #{params[:random]}"%><br>
<%#end%>