<!DOCTYPE html>
<html>
<%= render 'navbar', controller: :pages%>
<h1>About PicToDraw</h1>

<div class = "AboutText">
<p>PicToDraw was created by Dan Smolinski, Michael Wojtyna, and Zach Henry. PicToDraw is our final project for our Programming Languages Class at Stonehill College</p>

<p>This is an homage to a free game called 'Draw My Thing' that was around in high school. Unfortunately it was taken down years ago.</p>

<p>Created using Ruby on Rails</p>
</div>
<h2><%= link_to 'Home', '/home' %></h2>

</html>