<div class="col s12 m5">
   <div class="card blue-grey darken-1">
      <div class="card-content white-text">
            <span class="card-title">Chat</span>
            <div id = "messages" style="overflow:hidden; height:303px;">
            </div>
            <form >
               <input type = "hidden" id="username" value = <%=session[:username]%>>
               <br>
               <br>
               <label>Enter Guess:</label><br>
               <input type = "text" data-behavior="room_speaker">
            </form>

            <div class = "card-action">
              <div id = "data">
               <table id = "connected_users">
        <thead>
          <tr>
              <th>Name</th>
              <th>Score</th>
          </tr>
          <tbody>
            <% @connected.each do |conn| %>
          <tr>
            <td><%=conn.username%></td>
            <td><%=conn.score%></td>
          </tr>
          <% end %>
       </tbody>
    </thead>
  </table>
</div>
            </div>
      </div>
   </div>
</div>