
   <div class="col s12 m7">
      <div class="card blue-grey darken-1">
         <div class="card-content white-text">
          <div id = "words">
            <p id = "word" type="hidden" class="card-title center">&nbsp
              </p>
            <p id = "drawing_user" class="card-title center">&nbsp</p>
          </div>
            <canvas class = " center " style="background-color: ivory"id="paper"></canvas>
         </div>
         <div class="card-action">
            <div style = "clear: both">
               <h2 style = "float: left" id="time_left">&nbsp</h2>
               <h2 style = "float: left" id = "timer"> </h2>
            </div>
         </div>
       </div>
    </div>
