<!DOCTYPE html>
<html class = "teal">
   <head>
      <% javascript_include_tag 'liveline.js' %>
      <% javascript_include_tag 'timeline.js' %>
      <% javascript_include_tag 'wordline.js' %>
   </head>
   <%= render 'pages/navbar', controller: :pages%>
   <body class = "teal">
      <h2 class = "center">picToDraw Lobby</h2>
      <div class="row">
         <div class="col s12 m7">
            <div class="card blue-grey darken-1">
               <div class="card-content white-text">
                 
                  <p id="theWordToGuessForUsers" class="card-title center"> </p>
                  <canvas class = " center " style="background-color: ivory"id="paper"></canvas>
               </div>
               <div class="card-action">
                  <div style = "clear: both">
                     <h2 style = "float: left" id="time_left"></h2>
                     <h2 style = "float: left" id = "timer"> </h2>
                  </div>
               </div>
            </div>
         </div>
         <div class="col s12 m5">
            <div class="card blue-grey darken-1">
               <div class="card-content white-text">
                  <span class="card-title">Chat</span>
                  <div id = "messages" style="overflow:hidden; height:303px;">
                  </div>
                  <form >
                     <input type = "hidden" id="username" value = <%=session[:username]%>>
                     <br>
                     <br>
                     <label>Enter Guess:</label><br>
                     <input type = "text" data-behavior="room_speaker">
                  </form>
               </div>
            </div>
         </div>
         <div class="col s12 m5">
         <div class="card blue-grey darken-1" style="overflow; height:250px; width:250px;">
         <div class="card-content white-text">
            <p>Connected Users</p>
            <div id = "data">
               <% @connected.each do |conn| %>
               <p><%=conn.username%></p>
               <% end %>
            </div>
         </div>
      </div>
    </div>
         <input id="clear_canvas" type="button" value="Clear Canvas" onclick="clearCanvas();" />
         <input id="start_timer" type="button" value="Start Timer" onclick="startTimerForEveryone();" />
         <input id="get_word" type="button" value="Sync Word" onclick="theWordToGuess('<%=@word.word%>');" />
         <div style = "clear: both">
            <input class="swatch_window red" type="button" onclick="colorPicker('red');"></input>
            <input class="swatch_window blue" type="button" onclick="colorPicker('blue');"></input> 
            <input class="swatch_window pink" type="button" onclick="colorPicker('pink');"></input>
            <input class="swatch_window yellow" type="button" onclick="colorPicker('yellow');"></input>  <input class="swatch_window green" type="button" onclick="colorPicker('green');"></input>
            <input class="swatch_window purple" type="button" onclick="colorPicker('purple');"></input>
            <input class="swatch_window orange" type="button" onclick="colorPicker('orange');"></input>
            <input class="swatch_window brown" type="button" onclick="colorPicker('brown');"></input>
            <input class="swatch_window black" type="button" onclick="colorPicker('black');"></input>
            <input class="swatch_window_eraser" value="eraser" type="button" onclick="colorPicker('ivory');"></input>
         </div>
      </div>
      <h4>
      Thickness
      <h4>
      <div style = "clear: both">
         <input type="button" value= "Small" onclick="sizeSelector('small');"></input>
         <input type="button" value= "Medium" onclick="sizeSelector('medium');"></input> 
         <input type="button" value= "Large" onclick="sizeSelector('large');"></input>
      </div>
      <div class="row">
         <div class="col s7 push-s5">
         </div>
         <div class="col s5 pull-s7">
         </div>
      </div>
      
   </body>
   <script>
      window.onbeforeunload = function (e) 
      {
        $.ajax({
          url: "/leave",
          type: 'POST'
              });
      
      }
      
      
      $(document).ready(function(){  
        setInterval(function(){   
            $("#data").load("/chatAC #data");
        }, 10000);
      });
      
      $(function(){
        //vars that should be globally accessed, the document, the canvas, and the canvas context.
        color = "black"
        document.getElementById('paper').width = 600;
        document.getElementById('paper').height = 400;
        doc = $(document);
           
        canvas = $('#paper');
        ctx = canvas[0].getContext('2d');
        lineThick = 5;
        ctx.lineWidth = lineThick;
        canDraw = true;
      
      
        //local vars, previous coords for the client, a random color, a boolean stating if the client is drawing or not, and the time since we last told the server we were drawing.
        var prev = {};
        
        var drawing = false;
        var timeSinceLastSend = $.now();
        //event to fire if mouse down or touch on canvas element
        canvas.on("mousedown touchstart", function(e){
          var rect = this.getBoundingClientRect();
      
          e.preventDefault();
          //get coords if mouse down
          var x = e.pageX;
          var y = e.pageY;
          //get coords if touch
          if ( e.originalEvent.changedTouches ) {
            e = e.originalEvent.changedTouches[0];
            x = e.pageX;
            y = e.pageY;
          }
          //set drawing to true and the coordinates for the prev object
          //the prev object is used for the start of the drawing line
          drawing = canDraw;
          prev.x = x;
          prev.y = y;
        });
        //event to fire if the mouse is released/left or touched up
        doc.bind('mouseup mouseleave touchend',function(){
          drawing = false;
        });
        //event to fire as the mouse moves or finger is dragged
        doc.on('mousemove touchmove',function(e){
      
          //if we are drawing, and its been over 10ms since last update
          if(drawing && $.now() - timeSinceLastSend > 10){
      
            //get mouse coords
            var x = e.pageX;
            var y = e.pageY;
            //if touching, get touch coords
            if ( e.originalEvent.changedTouches ) {
              e = e.originalEvent.changedTouches[0];
              x = e.pageX;
              y = e.pageY;
            }
            //create ajax request to /updateline
            //data is prev coordinates and current coordinates and color
            $.ajax({
              method: "POST",
              url: "/updateline",
              data: {
                'fromx': prev.x,
                'fromy': prev.y,
                'tox': x,
                'toy': y,
                'color': color,
                'lineThick': lineThick
              }
            });
            //reset time since last send
            timeSinceLastSend = $.now();
          }
          //draw the line and reset prev
          if(drawing && x && y){
            drawLine(prev.x, prev.y, x, y, color);
      
            prev.x = x;
            prev.y = y;
          }
        });
      });
      //function to draw a line
      function drawLine(fromx, fromy, tox, toy, color,lineThick){
       ctx.beginPath();
       ctx.strokeStyle = color
       ctx.moveTo(fromx-69, fromy-278);
       ctx.lineTo(tox-69, toy-278);
       ctx.stroke();
       ctx.lineWidth = lineThick
      }
      //function to clear the canvas for all subscribers
      function clearCanvas() { 
        $.ajax({
              method: "POST",
              url: "/updateline",
              data: {
                'fromx': -1001.42,
                'fromy': 0,
                'tox': 0,
                'toy': 0,
                'color': 0,
                'lineThick': lineThick
              }
            });
      
      }
      
      function time(timeLeft){
        
        $.ajax({
              method: "POST",
              url: "/updateTime",
              data: {
                'time': timeLeft,
                }
            });
      
      
      }

      function theWordToGuess(word){
        console.log(word);
        $.ajax({
              method: "POST",
              url: "/updateWordToGuess",
              data: {
                'word': word,
                }
            });
      
      
      }
      
      
      
      function startTimerForEveryone() { 
      
        
      var timeLeft = 60;
      var secondslabel = "";
      clearInterval(timer);
      
      timer = setInterval(function(){
      
      var secondslabel = document.getElementById("timer").value = 0 + --timeLeft;
      
      time(timeLeft);
      if(timeLeft <= 0)
      {
      time(timeLeft);
      
      clearInterval(timer);
      }
      
      }, 1000);
      
      }
      
      function sizeSelector(size){
        if(size == "small"){
          lineThick = 5;
        }
        else if(size == "medium"){
          lineThick = 10;
        }
        else if(size == "large"){
          lineThick = 25;
        }
      }
      

      
      
      function colorPicker(colorSelected) { 
        if(colorSelected == "red"){
          color = "red";
        }else if(colorSelected == "blue"){
          color = "blue";
        }else if(colorSelected == "pink"){
          color = "pink";
        }else if(colorSelected == "yellow"){
          color = "yellow";
        }else if(colorSelected == "green"){
          color = "green";
        }else if(colorSelected == "purple"){
          color = "purple";
        }else if(colorSelected == "orange"){
          color = "orange";
        }else if(colorSelected == "brown"){
          color = "brown";
        }else if(colorSelected == "black"){
          color = "black";
        }else if(colorSelected == "ivory"){
          color = "ivory";
        }  
      
      }
      
      
      
      
   </script>
</html>