<h1>Log into PictoDraw</h1>

<%#form_tag :action => 'test' do%>
<%# text_area :myform, :comments, :cols => '40', :rows => '5' %>
    <%# submit_tag "Submit" %>
<%# end %>

<%#= form_tag(controller: "/login/userlogin", :action => "test") do %>
  <%#= label_tag(:q, "Search for:") %>
  <%#= text_field_tag(:q) %>
  <%#= submit_tag("Search") %>
<%# end %>


<%#= form_for @article, :action => "test" do |f| %>
  <%#= f.text_field :email %>
  <%#= f.text_field :password%>
  <%#= f.submit "Login" %>
<%# end %>

<%= render 'form', user: @user %>